/*Fonts&text*/
p.large {font-familiy:verdana;font-size:15pt;font-color:#000000;}
p.normal {font-familiy:verdana;font-size:12pt;font-color:#000000;}
p.small {font-familiy:verdana;font-size:10pt;font-color:#000000;}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
section {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
aside {
    width:350px;
    float:left;
    padding:10px; 
}
article {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
